<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      <a class="brand" href="">PPL</a>
      <!-- <div class="pro_info pull-right">
        <div class="pro_icn"><img src="../assets/images/pic_small.png"></div>
        <div class="pro_txt">Me<b class="caret"></b></div>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
          <li><a tabindex="-1" href="#">My Profile</a></li>
          <li><a tabindex="-1" href="#">Message Box</a></li>
          <li><a tabindex="-1" href="#">Change Language</a></li>
          <li class="divider"></li>
          <li><a tabindex="-1" href="#">
            <input type="text" placeholder="search" >
            </a></li>
        </ul>
      </div>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li class="active" >
             <a  routerLink='home'>Home</a> </li>
          <li class="">
            <a routerLink='ecoupons'>E-Coupons</a> </li>
          <li class="">
            <a  routerLink='ebrands'>E-Brands</a> </li>
          <li class="">
             <a routerLink='reusemarket'>Resuse Market</a> </li>
          <li class="">
             <a routerLink='lostandfound'>Lost and Found</a> </li>
        </ul>
      </div> -->
    </div>
  </div>
</div>
<div class="header">
  <div class="header_lft">
    <div class="logo"><a href="#"><img src="../assets/images/logo.png"></a></div>
  </div>
