<app-header-not-login></app-header-not-login>

<div class="container">
  <div class="content">
    <div class="content_rgt">
      <div class="login_sec">
        <h1>Log In</h1>
        <ul>
          <form [formGroup]="form" (ngSubmit)="loginUser(f.email, f.password)">
            <li>
              <span>Email-ID</span>
              <input
                type="text"
                placeholder="enter your email"
                required
                pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                class="form-control"
                formControlName="email"
              />
              <mat-error *ngIf="f.email.touched && !f.email.valid">
                <mat-error *ngIf="f.email.errors.required"
                  >* email is required</mat-error
                >
                <mat-error *ngIf="f.email.errors.pattern"
                  >* email is not valid</mat-error
                >
              </mat-error>
            </li>
            <li>
              <span>Password</span>
              <input
                type="text"
                placeholder="Enter your password"
                required
                pattern="((?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,30})"
                minlength="8"
                class="form-control"
                formControlName="password"
              />
              <mat-error *ngIf="f.password.touched && !f.password.valid">
                <mat-error *ngIf="f.password.errors.required"
                  >* password is required
                </mat-error>
                <br />
                <mat-error *ngIf="f.password.errors.pattern">
                  * password must be alphaphanumeric and must contain atleast
                  one lower and one upper letter ;
                </mat-error>
                <br />
                <mat-error *ngIf="f.password.errors.minlength"
                  >* password length must contain atleast
                  {{ f.password.errors.minlength.requiredLength }} character
                </mat-error>
              </mat-error>
            </li>

            <li><input type="checkbox" />Remember Me</li>
            <li>
              <input type="submit" [disabled]="!form.valid" value="Log In" /><a
                (click)="navigatetoforget()"
                >Forgot Password</a
              >
            </li>
          </form>
        </ul>
        <div class="addtnal_acnt">
          I do not have any account yet.
          <a (click)="navigatetoregister()">Create My Account Now !</a>
        </div>
      </div>
    </div>
    <div class="content_lft">
      <h1>Welcome from PPL!</h1>
      <p class="discrptn">
        There are many variations of passages of Lorem Ipsum available, but the
        majority have suffered alteration in some form, by injected humour, or
        randomised words which don't look even slightly believable. If you are
        going to use a passage of Lorem Ipsum, you need to be sure there isn't
        anything embarrassing hidden in the middle of text.
      </p>
      <img src="../assets/images/img_9.png" alt="" />
    </div>
  </div>
</div>
