<app-header-not-login></app-header-not-login>
<div class="container">
  <div class="content">
    <div class="content_rgt">
    <div class="register_sec">
    <h1>Reset Password</h1>
    <ul>
    <form [formGroup]="form"
    (ngSubmit)="onreset(f.password,f.Cpassword)">

    <li><span>Enter New Password</span>
    <input type="text"
    placeholder="Enter your new password"
    required
    pattern='((?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,30})'
    minlength="8"
    maxlength="12"
    formControlName="password"
    class="form-control">
    <mat-error *ngIf="f.password.touched && !f.password.valid">
      <mat-error *ngIf="f.password.errors.required">* password is required
      </mat-error>
      <br>
      <mat-error *ngIf="f.password.errors.pattern">
        * password must be alphaphanumeric and must contain atleast one lower and one upper letter ;
      </mat-error>
      <br>
      <mat-error *ngIf="f.password.errors.minlength ">* password length must contain atleast
        {{f.password.errors.minlength.requiredLength}} character
      </mat-error>
    </mat-error>
    </li>
    <li>
    <span>Confirm Password</span>
    <input type="text"
    placeholder="Enter your password again"
    required
    pattern='((?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,30})'
    minlength="8"
    maxlength="12"
    formControlName="Cpassword"
    class="form-control"
    >
    <mat-error *ngIf="f.Cpassword.touched && !f.Cpassword.valid">
      <mat-error *ngIf="f.Cpassword.errors.required">* password is required
      </mat-error>
      <br>
      <mat-error *ngIf="f.Cpassword.errors.pattern">
        * password must be alphaphanumeric and must contain atleast one lower and one upper letter ;
      </mat-error>
      <br>
      <mat-error *ngIf="f.Cpassword.errors.minlength ">* password length must contain atleast
        {{f.Cpassword.errors.minlength.requiredLength}} character
      </mat-error>
    </mat-error>
  </li>
    <li><input type="submit" value="Submit"></li>
  </form>
    </ul>
    </div>
    </div>
    <div class="content_lft">
    <h1>Welcome from PPL!</h1>
    <p class="discrptn">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. </p>
    <img src="../assets/images/img_9.png"  alt=""/> </div>
  </div>
</div>
<div class="clear"></div>

