<app-header-not-login></app-header-not-login>
<div class="container">
  <div class="content">
    <div class="content_rgt">
      <div class="register_sec">
        <h1>Create An Account</h1>
        <ul>
          <form [formGroup]="registerForm">
            <li>
              <span>Username</span>
              <input type="text" placeholder="Enter your username" required minlength="3" formControlName="userName"
                class="form-control">
              <mat-error>
                <mat-error *ngIf="hasError('required', 'userName')"> * required
                </mat-error>
                <mat-error *ngIf="hasError('minlength', 'userName')">* Username should be of atleast
                  3 character
                </mat-error>
              </mat-error>
            </li>

            <li>
              <span>Password</span>
              <input type="text" placeholder="Enter your password" required minlength="8" maxlength="20"
                formControlName="password" class="form-control">
              <mat-error>
                <mat-error *ngIf="hasError('required', 'password')">* required
                </mat-error>
                <br>
                <mat-error *ngIf="hasError('pattern', 'password')">
                  * password must contain
                  <div [ngClass]="registerForm.controls.password.value.length>7 ? 'text-green' : 'text-red'"> at least 8
                    characters</div>
                  <div
                    [ngClass]="isStringContains(registerForm.controls.password.value, 'number') ? 'text-green' : 'text-red'">
                    at
                    least 1 numeric character</div>
                  <div
                    [ngClass]="isStringContains(registerForm.controls.password.value, 'lowercase') ? 'text-green' : 'text-red'">
                    at least 1 lowercase letter</div>
                  <div
                    [ngClass]="isStringContains(registerForm.controls.password.value, 'uppercase') ? 'text-green' : 'text-red'">
                    at least 1 uppercase letter</div>
                  <div
                    [ngClass]="isStringContains(registerForm.controls.password.value, 'special') ? 'text-green' : 'text-red'">
                    at least 1 special character</div>
                </mat-error>
              </mat-error>
            </li>

            <li>
              <span>Confirm Password</span>
              <input type="text" placeholder="Enter your password" required minlength="8" maxlength="20"
                class="form-control" #Cpassword>
              <mat-error>
                <mat-error *ngIf="formSubmitted && Cpassword.value != registerForm.controls.password.value">
                  * password and confirm password does not match
                </mat-error>
              </mat-error>
            </li>


            <li>
              <span>Email</span>
              <input type="text" placeholder="enter your email" required class="form-control" formControlName="email">
              <mat-error>
                <mat-error *ngIf="hasError('required', 'email')">* required</mat-error>
                <mat-error *ngIf="hasError('email', 'email')">* email is not valid</mat-error>
              </mat-error>
            </li>

            <li>
              <span>First Name</span>
              <input type="text" placeholder="Enter your first name" required minlength="2" maxlength="10"
                formControlName="firstName" class="form-control">
              <mat-error>
                <mat-error *ngIf="hasError('required', 'firstName')"> * required
                </mat-error>
              </mat-error>
            </li>

            <li>
              <span>Last Name</span>
              <input type="text" placeholder="Enter your last name" formControlName="lastName" class="form-control">
              <mat-error>
                <mat-error *ngIf="hasError('required', 'lastName')"> * required
                </mat-error>
              </mat-error>
            </li>

            <li>
              <input type="checkbox" required formControlName="termCheck">
              I agree to Term & Conditions
            </li>
            <mat-error *ngIf="formSubmitted && !registerForm.controls.termCheck.value">
              * please check this checkbox if you want to proceed
            </mat-error>

            <li>
              <input type="submit" value="Register" (click)="registerUser()">

            </li>
          </form>


        </ul>
        <div class="addtnal_acnt">I already have an account.<a (click)='navigatetologin()'>Login My Account !</a></div>
      </div>

    </div>
    <div class="content_lft">
      <h1>Welcome from PPL!</h1>
      <p class="discrptn">There are many variations of passages of Lorem Ipsum available,
        but the majority have suffered alteration in some form, by injected humour,
        or randomised words which don't look even slightly believable.
        If you are going to use a passage of Lorem Ipsum,
        you need to be sure there isn't anything embarrassing hidden in the middle of text. </p>
      <img src="../assets/images/img_9.png" alt="" />
    </div>
  </div>
</div>



<div class="clear"></div>